body {
    font-family: Arial;
    text-align: center;
    background-color: white;
}

header {
    background-color: blue;
    color: white;
    padding: 15px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
}

.dark {
    background-color: black;
    color: white;
}

button {
    padding: 10px;
}